/*  -- Author Yamen Sehgal */
.detailLabel{
    font-size: 13px;
    font-family: monospace;
    margin: 6px;
}
.weatherDetails{
	    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
.bg-color-custom{
	background-color:#EEE; 
}

.header-custom{

	background-color: #26A69A;
    border-color: #26A69A;
    color: #fff;
    padding-left: 10%;
    height: 100px;
    padding-top: 2%;
}

.header-custom .logo-custom{

	color: #fff;
	font-size: 30px;
}
.searchdiv{
	text-align:right;
	margin:10px;
}
.searchbox{
	margin:5px;
}
